<div class="field">
  <div class="innerfield">
    <div class="fieldrow" *ngFor="let bla of widthHeight">
      <!--<span> {{bla}} </span>-->

      <cell></cell>

      <!--<span class="@getCellBorder(row, column)" data-row="@row" data-column="@column">-->
                                            <!--<img class="figure" src="@routes.Assets.versioned("images/figures/empty.svg")">-->
                                        <!--</span>-->
      <!--<div *ngFor="#item of createRange({{width}}); #column=index+1">-->
        <!--<span> X </span>-->
      <!--</div>-->
    </div>
  </div>
</div>
